/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/* Better text styling */
	font: bold 130% Arial, sans-serif;
}

/* Using box shadows to create 3D effects */
#calculator {
	width: 100%;
	height: 100%;
	
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%;
	
	background: #535151;
	background: linear-gradient(#535151, #535151);
	border-radius: 2%;
	box-shadow: 0px 4px #1a1a1a, 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.top
{
	padding-top: 1%;
}

/* Top portion */
.top span.clear {
	float : left;
	left: 5%;
	width: 20%;
	height: 10%;
	text-align: center;
	line-height: 150%;
}

/* Inset shadow on the screen to create indent */
.top .screen {
	height: 10%;
	width: 74%;
	float : right;

	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 100%;
	line-height: 150%;
	color: white;
	text-shadow: 20% 20% 40% rgba(0, 0, 0, 0.2);
	text-align: center;
	letter-spacing: 2px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

.keys
{
	padding-bottom: 100%;
}

/* Applying same to the keys */
.keys span {
	float: left;
	position: relative;
	top: 2%;
	
	cursor: pointer;
	
	width: 20%;
	height: 12%;


	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	margin: 8% 6% 0% 0%;
	
	color: #888;
	line-height: 100%;
	text-align: center;
	
	/* prevent selection of text inside keys */
	user-select: none;
	
	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
	background: #FFF0F5;
	margin-right: 0;
}

.keys span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

.top span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */
.keys span:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.keys span.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}

.top span.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

.keys span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

.top span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}
